phonenumbers
djangocms-text-ckeditor
django-haystack
djangocms-aldryn-common
djangocms-aldryn-translation-tools
coverage
djangocms-helper @ git+https://github.com/nephila/django-app-helper.git@3.3.1
tox
flake8
python-coveralls
reportlab
svglib

# docs
sphinx
sphinx-rtd-theme

# The following are for aldryn-search
django-appconf
django-spurl
django-standard-form
djangocms-aldryn-search
